  <div class="container">
    <div class="header">
      <h1>Welcome back</h1>
      <p>To see more details please log in</p>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>Log in with Email</h2>
      </div>
      <div class="card-body">
        <form action="">
          <div class="custom_input">
            <input class="input" type="email" placeholder="Email" required />
          </div>
          <div class="custom_input">
            <input
              class="input"
              type="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="button">
            <ion-button type="submit">Sign In</ion-button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <span>OR</span>
        <div class="divider"></div>
        <div class="google">
          <button><img src="/assets/img/icons/google.svg" alt="" /></button>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Don’t you have already acount ?</p>
      <a routerLink="/regis">Sign Up</a>
    </div>
  </div>
